@charset "UTF-8";

@keyframes appear {
	0% {
    	opacity:0;
    }
    100% {
    	opacity:1;
    }
}

body::before {
	content: "";
	background: url("https://cdn.pixabay.com/photo/2016/02/28/21/25/decorative-1227611_1280.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation : rotate 80s infinite linear forwards;
	transition: all 1s;
}

	
.text{
	color:black;
    transition: opacity 1s linear;
}
	
@keyframes rotate{
	0%{
		transform : rotate(0deg);
	}
	100%{
		transform : rotate(360deg);
	}
}
  
img {
   	height:500px;
	border:2px solid #c75e07;
}
    
    
.box1,.box3{
	background-image: url("https://cdn.pixabay.com/photo/2020/12/13/22/05/angels-5829501_1280.png");
	background-size: cover;
	background-color: #c75e07;
}

.box3{
	transform: scaleX(-1);
}

.box1{
}

.box3{ 
}

table{
	background-color: rgba(255, 255, 255, 0.8);
	border:4px solid #c75e07;
	border-radius: 5px;
	width: 647px;
	box-shadow: 10px 10px 10px black;
}