@charset "UTF-8";


@keyframes appear {
	0% {
    	opacity:0;
    }
    100% {
    	opacity:1;
    }
}
    
    
body::before {
	content: "";
	background: url("https://cdn.pixabay.com/photo/2016/02/28/21/25/decorative-1227612_1280.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	filter: drop-shadow(1px 2px 3px #925195);
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation : rotate 120s infinite linear forwards;
	transition: all 1s;
}
	
table{
	color:white;
	box-shadow: 10px 10px 10px black;
	background-color: rgba(255, 255, 255, 0.8);
	border:4px solid #925195;
	border-radius: 5px;
	width: 647px;
}
	
.text{
	color:black;
    transition: opacity 1s linear;
}
	
@keyframes rotate{
	0%{
		transform : rotate(0deg);
	}
	100%{
		transform : rotate(360deg);
	}
}
  
img {
   	height:500px;
	border:2px solid #925195;
}
    
    
.box1, .box3{
	background-color:#925195;
	background-image:url("https://cdn.pixabay.com/photo/2021/02/11/00/49/border-6003933_1280.png");
}

.box3{
	transform : scaleX(-1);
}


