@charset "UTF-8";


@keyframes appear {
	0% {
    	opacity:0;
    }
    100% {
    	opacity:1;
    }
}
    
    
body::before {
	content: "";
	background: url("../../img/celtic-knot-6911301_1280.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation : rotate 100s infinite linear forwards;
	transition: all 1s;
	filter:grayScale(30%);
}
	
table{
	color:white;
	box-shadow: 10px 10px 10px black;
	background-color: rgba(255, 255, 255, 0.8);
	border:4px solid #27292c;
	border-radius: 5px;
	width: 647px;
}
	
.text{
	color:black;
    transition: opacity 1s linear;
}
	
@keyframes rotate{
	0%{
		transform : rotate(0deg);
	}
	100%{
		transform : rotate(360deg);
	}
}
  
img {
   	height:500px;
	border:2px solid #27292c;
}
    
    
.box1,.box3{
	background-image : url("../../img/vintage-8016450_1280.png");
	background-size: cover;
	background-color: #4c5255;
}

.box3{
	transform : scaleX(-1);
}

