@charset "UTF-8";


.about_body{
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	color:white;
	background:none;
	background-color:black;
	flex-direction: column;
}

.about_body::before{
	background: url("img/58895_5_1_z.jpg");
}

.empty{
}

@keyframes opacity{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}

@keyframes rotate{
	from{
		
	}
	to{
		transform: perspective(800px) rotateY(180deg);
	}
}

img{
	border:none;
}

/* .img1:hover{ */
/* 	animation: rotate 0.5s linear forwards; */
/* } */

.box{
	animation: opacity 2s linear;
	display: flex;
	width:100%;
	height:100%;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

h3{
	text-align: center;
}