@charset "UTF-8";



.about_body{
	height:auto;
	display:flex;
	background-image:none;
	margin: 0;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s linear;
	/*background:linear-gradient(to bottom, #0a2a3b,#076f68,#0a2a3b);*/
}

.about_body::-webkit-scrollbar {
  	display: none;
}

.light_mode{
	filter:none;
	transition: 0.5s;
}

button{
	height: 21px;
	border:none;
	cursor: pointer;
	font-size : 15px;
	background: none;
	color:white;
}
button:hover{
	color: gray;
}	

.table_box{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
	background-image: url("https://cdn.pixabay.com/photo/2023/02/24/07/14/crowd-7810353_1280.jpg");
	background-size:cover;
}

.table{
	margin-top:250px;
	heigth:100%;
	text-align:center;
	line-height: 200%;
	width:100%;
	animation-name: appear;
	animation-duration:2.3s;
}

.section{
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: ;
	margin-top : 50px;
}

.sec1{
	background-image: url("https://cdn.imweb.me/upload/S20220705bec8469091df3/8b97c5caaea85.png");
	background-size:cover;
	opacity: 0.85;
}	

.sec2{
	background-image: url("https://cdn.pixabay.com/photo/2015/05/22/19/27/art-gallery-779575_1280.jpg");
	background-size:cover;
}

.sec3{
	background-image: url("https://cdn.pixabay.com/photo/2018/04/26/06/45/museum-3351258_1280.jpg");
	background-size:cover;
}

.sec4{
	background-image: url("https://cdn.pixabay.com/photo/2016/11/15/12/49/exhibition-1826155_1280.jpg");
	background-size:cover;
}

.sec5{
	background-image: url("https://cdn.pixabay.com/photo/2022/12/03/09/17/exhibition-7632297_1280.jpg");
	background-size:cover;
}


.intro_comment{
	line-height: 250%;
	text-align: center;
	font-size : 20px;
	font-weight:bold;
	color : white;
}

.sec1_commnet{
	line-height:400%;
	text-align: center;
}

.sec2_commnet{
	line-height:500%;
	text-align: center;
	color:black;
}

.sec1_commnet>li{
	color: white;
}

.manner{
	font-size:50px;
	color: white;
}

b{
	font-size:30px;
}
td{
	width:500px;
}
.face{
	animation-name:slidein ;
	animation-duration:2.3s;
	width:350px;
	height: 400px;
	border:thin;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}




.about_container{
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
}

.table2{
	margin-top:30%;
	width: 100%;
}


.table2 tr{
	vertical-align: top;
}

table.table2 td {
	text-align: center;
}

h3,h4{
	color:white;
}

.icon{
	border:none;
	box-shadow:none;
	width: 200px;
	height: 200px;
}




@keyframes appear {
  from {
    opacity : 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left : 100%;
  }

  25% {
    margin-left : 75%;
  }
  
  50% {
  	margin-left : 50%;
  }
  100% {
  	margin-left : 100%;
  }
}

@keyframes slidein {
  from {
    margin-left : 100%;
  }

  to {
    margin-left : 0%;
  }
}