@charset "UTF-8";


table {
	border-collapse:collapse;
	width: auto;
	margin: 20px auto;
	text-align: center;
}
	
caption {
	font-size: 1.2em;
	margin-bottom: 10px;
}
	
th, td {
	padding: 10px;
	border: 2px solid #ddd;
}
	
th {
	background-color: white;
}
