@charset "UTF-8";


body{
	display: flex;
	align-items:center;
	flex-direction: column;
	transition : 0.3s linear;
	background-color: #282828;
	color : white;
	height: 100vh;
	margin : 0;
}

button{
	margin-top : 2%;
	border:none;
	cursor: pointer;
}

table{
	width: 500px;
	margin: 100px;
	text-align: center;
}

caption{
	font-size : 17px;
}


nav{
	width: auto;
}


a{
	float : left;
	color : peru;
	text-decoration: none;
	font-family: serif;
}


header{
	font-size : 20px;
}


.light_mode{
	background-color: white;
	color : black;
	transition : 0.3s linear;
}

.container{
	height : 100%;
	display: flex;
	align-items: center;
}