@charset "UTF-8";


.g_body{
	display: flex;
	justify-content: center;
}

.icon{
	width: 300px;
	height: 300px;
	box-shadow:none;
	border:none;
	filter: grayscale(100%);
}

.sec{
	text-align: center;
	margin:80px;
}

u{
	font-size:20px;
}