@charset "UTF-8";

 .map_wrap {overflow:hidden;height:330px}
    /* 지도위에 로드뷰의 위치와 각도를 표시하기 위한 map walker 아이콘의 스타일 */
    .MapWalker {position:absolute;margin:-26px 0 0 -51px}
    .MapWalker .figure {position:absolute;width:25px;left:38px;top:-2px;
        height:39px;background:url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png) -298px -114px no-repeat}
    .MapWalker .angleBack {width:102px;height:52px;background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png) -834px -2px no-repeat;}
    .MapWalker.m0 .figure {background-position: -298px -114px;}
    .MapWalker.m1 .figure {background-position: -335px -114px;}
    .MapWalker.m2 .figure {background-position: -372px -114px;}
    .MapWalker.m3 .figure {background-position: -409px -114px;}
    .MapWalker.m4 .figure {background-position: -446px -114px;}
    .MapWalker.m5 .figure {background-position: -483px -114px;}
    .MapWalker.m6 .figure {background-position: -520px -114px;}
    .MapWalker.m7 .figure {background-position: -557px -114px;}
    .MapWalker.m8 .figure {background-position: -2px -114px;}
    .MapWalker.m9 .figure {background-position: -39px -114px;}
    .MapWalker.m10 .figure {background-position: -76px -114px;}
    .MapWalker.m11 .figure {background-position: -113px -114px;}
    .MapWalker.m12 .figure {background-position: -150px -114px;}
    .MapWalker.m13 .figure {background-position: -187px -114px;}
    .MapWalker.m14 .figure {background-position: -224px -114px;}
    .MapWalker.m15 .figure {background-position: -261px -114px;}
    .MapWalker.m0 .angleBack {background-position: -834px -2px;}
    .MapWalker.m1 .angleBack {background-position: -938px -2px;}
    .MapWalker.m2 .angleBack {background-position: -1042px -2px;}
    .MapWalker.m3 .angleBack {background-position: -1146px -2px;}
    .MapWalker.m4 .angleBack {background-position: -1250px -2px;}
    .MapWalker.m5 .angleBack {background-position: -1354px -2px;}
    .MapWalker.m6 .angleBack {background-position: -1458px -2px;}
    .MapWalker.m7 .angleBack {background-position: -1562px -2px;}
    .MapWalker.m8 .angleBack {background-position: -2px -2px;}
    .MapWalker.m9 .angleBack {background-position: -106px -2px;}
    .MapWalker.m10 .angleBack {background-position: -210px -2px;}
    .MapWalker.m11 .angleBack {background-position: -314px -2px;}
    .MapWalker.m12 .angleBack {background-position: -418px -2px;}
    .MapWalker.m13 .angleBack {background-position: -522px -2px;}
    .MapWalker.m14 .angleBack {background-position: -626px -2px;}
    .MapWalker.m15 .angleBack {background-position: -730px -2px;}


@keyframes appear {
	
  	from {
    	opacity : 0;
  	}
	to{
		opacity: 1;
	}
  
}


/*.g_body::-webkit-scrollbar {
  display: none;
}*/

.g_body{
	display: flex;
	height: auto;
	width:100%;
	background-image:none;
	flex-direction: column;
	align-items: center;
	background-color: #f7f7f8; 
	margin:0;
	animation-name:appear;
	animation-duration: 1s;
	font-family: 'Orbit', sans-serif;
}

.title{
	color:black;
	text-decoration: none;
	font-weight:600;
}

.title:hover{
	   background: linear-gradient(to top right, purple, #00FFFF, black );
	   transition : 0.1s linear;
	   color: transparent;
       -webkit-background-clip: text;
	}
	
.header_box{
	width:100%;
	background:none;
	text-align:center;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	/*background: linear-gradient(to right, #FF9900, #00FFFF );*/
	font-size:30px;
}

.icon{
	width: 300px;
	height: 300px;
	box-shadow:none;
	border:none;
	filter: grayscale(100%);
}


u{
	font-size:20px;
}


td{
	text-align: left;
}

li{
	list-style: none;
}

#mapWrapper,#rvWrapper{
	width:50%;
	height:300px;
	border-radius: 15px;
	border:2px solid black;
}

table{
	width:100%; 
	height:400px; 
	text-align:center;
}


.sec1_img{
	width:1300px;
	height: 600px;
}

.section{
	height: 100vh;
	margin-top: 100px;
}


.sec1{
	opacity : 0;
	width:100%;
	display:flex;
	flex-direction:column;
}

.sec2{
	opacity:0;
	display:none;
	margin-top:300px;
	display: flex;
	align-items: center;
	flex-direction:column;
	background-size: contain;
	background-position:center;
	width:100%;
	background-repeat: no-repeat;
}

.sec3{
	height: 50vh;
}
.rule{
	margin-top:100px;
	color:black;
}

.guide{
	height: 50vh;
	margin: 0;
	float: left;
	
}

.g_list{
	margin-top:100px;
	line-height: 300%;
}


.g_list>li{
	font-size: 20px;
	color:black;
	list-style: disc;
}


#line{
	margin-top:30px;
	height: 2px;
	background-color:black;
}

h4{
	display: inline;
	font-size: 16px;
}

.section_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

