@charset "UTF-8";

@keyframes appear {
	
  	from {
    	opacity : 0;
  	}
	to{
		opacity: 1;
	}
  
}

.g_body{
	display: flex;
	height: auto;
	width:100%;
	background-image:none;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff; 
	margin:0;
	animation-name:appear;
	animation-duration: 1s;
	
}

.title{
	color:black;
	text-decoration: none;
	font-weight:600;
}

.title:hover{
	   background: linear-gradient(to top right, purple, #00FFFF, black );
	   transition : 0.1s linear;
	   color: transparent;
       -webkit-background-clip: text;
	}
	
.header_box{
	width:100%;
	background:none;
	text-align:center;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	/*background: linear-gradient(to right, #FF9900, #00FFFF );*/
	font-size:30px;
}

.icon{
	width: 300px;
	height: 300px;
	box-shadow:none;
	border:none;
	filter: grayscale(100%);
}


u{
	font-size:20px;
}


td{
	text-align: left;
}

li{
	list-style: none;
}

#roadview{
	width:80%;
	height:500px;
	border-radius: 15px;
}

table{
	width:50%; 
	height:400px; 
	text-align:center;
}


.sec1_img{
	border:none;
	padding:0;
	width: 1300px;
	height: 600px;
}

.section{
	height: 100vh;
	margin-top: 100px;
}

.sec1{
	display:flex;
	flex-direction:column;
}

.sec2{
	margin-top:100px;
	display: flex;
	align-items: center;
}

.guide{
	height: 50vh;
	margin: 0;
	float: left;
}

.g_list{
	line-height: 300%;
}

.g_list>li{
	font-size: 17px;
	color:#808080;
	list-style: disc;
}

.g_list>li:nth-child(1){
	list-style:none;
	color:black;
}

#line{
	margin-top:30px;
	height: 2px;
	background-color:black;
}

h4{
	display: inline;
	font-size: 16px;
}

.section_box{
	font-family: 'notokr-regular';
	display: flex;
	flex-direction: column;
}


.g_body::before {
  content: "";
  background: url('img/star.png'); 
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  /*background-size: 100% 140%;*/
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  animation: moveStar 50s infinite linear forwards, twinkling 5s infinite linear;
  transition: all 1s;
}

/* Animation for twinkling stars */
@keyframes twinkling {
  0% {}
  50% {filter:grayScale(100%);}
  100% {}
}

@keyframes moveStar {
  0% {
    background-position: 0% 0%;
  }
  100% {
     background-position: 100% 100%;
     
  }
}
