@charset "UTF-8";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 40%;
  max-width: 400px;
  color: black;
  text-align: center;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
  box-shadow: none;
  border: none;
}

#openModalBtn {
  background: none;
  color: white;
  font-size: 15px;
  position:fixed;
  width: 100px;
  height : 30px;
  color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 1s;
  border:3px solid white;
  cursor: pointer;
}

input[type=submit]{
	width:100px;
	background-color : white;
	cursor: pointer;
}


#openModalBtn:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100px;
  background : linear-gradient(to top right, #00eaff,#9601a6,#ffff00,#ff00ff,#ff9900,#9900ff);
  top: 35px;
  transform: translate(-50%);
  animation: wave 10s infinite linear;
  transition: all 1s;
}

#openModalBtn:hover:before {
  top: 15px;
}

span {
  position: relative;
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}
