@charset "UTF-8";


.holiday{
	color: red;
}

button{
	background:none;
	cursor: pointer;
	font-size:15px;
}

.month{
	font-size: 20px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    width: 400px;
    height: 600px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}